/**********************TAG SELECTOR*********/
body{
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
  }
h1{font-family: 'Sacramento', cursive;
font-size: 90px;
color: #66BFBF;}
h2 {font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
font-weight: normal;}
h3{font-family: 'Montserrat', sans-serif;
color: #11999E;}
a {color: #11999E;}
p {color:#66BFBF;
font-size:20px;}

/***************Class SELECTOR************/
.Top-container {background-color: #c6f1d6;
  position: relative;
  padding-top: 100px;}


.middle-container{background-color: #f6f6f6;}


  .bottom-container{background-color: #f6f6f6;}

    .top-cloud {position: absolute;
    right: 300px;
    Top:50px;}

.bottom-cloud {position:absolute;
left: 300px;}


.sami-image {width: 150px;}
.skills-row-pic {width:100px;}
.phone {width:100px;}
